################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/obj
/Domain/bin
/Domain.Tests/obj
/Domain.Tests/bin
/DomainServices/obj
/DomainServices/bin
/DomainServices.Tests/obj
/DomainServices.Tests/bin
/Infrastructure/obj
/Infrastructure/bin
/Portal/obj
/Portal/bin
/Portal/Properties
