################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/obj
/Domain/bin
/DomainTests/obj
/DomainTests/bin
/DomainServices/obj
/DomainServices/bin
/DomainServicesTests/obj
/DomainServicesTests/bin
/Infrastructure/obj
/Infrastructure/bin
/Portal/obj
/Portal/bin
/Portal/Properties
